@model  RicardoPalma.Models.BETriaje
@{
    ViewBag.Title = "GenerarTriaje";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formGenerarTriaje" }))
{
    @Html.AntiForgeryToken()
    <script src="@(new Uri(Request.Url, Url.Content("~")))ScriptsClient/ScriptTriaje.js"></script>

    <fieldset>
        <div class="panel panel panel-primary">
            <div class="panel-heading">Informe</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    <input type='text' class="text" maxlength="8" style="width:100px" onkeypress="return SoloNumerico(event);" id='txtDNI' />
                                    <button type="button" id="btnBuscarPaciente" onclick="BuscarPaciente();" class="btn btn-primary btn-sm">Buscar Paciente</button>
                                </td>
                                <td >
                                    Síntomas: <input type='text' class="form-control" autocomplete="off" placeholder="Sintomas" maxlength="70" id='txtSintoma' />
                                    <input type="hidden" id="hdIdSintoma" />
                                    @*Síntomas: <select id="lsSintomas"  class="form-control" style="height:200px;font-size:11px">
                                        @foreach (RicardoPalma.Models.Sintoma item in @Model.ListadoSintomas)
                                        {
                                            <option value="@item.IdSintoma">@item.Descripcion</option>
                                        }
                                    </select>*@
                                </td>
                                
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Paciente: <span id='txtNombrePaciente' class="text"></span> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    DNI: <span id='txtDNIPaciente' class="text"></span>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    TipoPaciente: <span id='txtTipoPaciente' class="text"></span>  
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    Sufrió violencia: <input type="checkbox" id="ckViolencia" style="float: left;" class="checkbox" /> 
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3">
                                    <button type="button" id="btnGenerar" onclick="GenerarTriaje();" class="btn btn-primary btn-sm">Generar informe</button>
                                    <button type="button" id="btnSalir" class="btn btn-primary btn-sm">Salir</button>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel panel-primary">
            <div class="panel-heading">Resultado Triaje</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="tblListado" class="order-column display" style="font-size: 12px" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Nombre Paciente</th>
                                    <th>DNI</th>
                                    <th>Tipo Paciente</th>
                                    <th>Sintoma</th>
                                    <th>Prioridad</th>
                                    <th>Destino</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>



        <div id="divNuevoPaciente" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Nuevo Paciente</h4>
                    </div>
                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="text-align:right;width:200px" onkeypress="return SoloTextoNumero(event);"  class="control-label col-sm-2 ">
                                    Nombre
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control col-sm-2" onkeypress="return SoloTextoNumero(event);" id='txtNuevoNombrePaciente' />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" onkeypress="return SoloTextoNumero(event);" class="control-label col-sm-2 ">
                                    Apellido Paterno:
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control col-sm-2" onkeypress="return SoloTextoNumero(event);" id='txtNuevoPaterno' />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Apellido Materno:
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control col-sm-2" onkeypress="return SoloTextoNumero(event);"  id='txtNuevoMaterno' />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Tipo Paciente:
                                </td>
                                <td style="text-align:left">
                                    <select id="cmbTipoPaciente" class="control-label col-sm-2" style="width:380px">
                                        @foreach (RicardoPalma.Models.TipoPaciente item in @Model.ListadoTipoPaciente)
                                        {
                                            <option value="@item.IdTipoPaciente">@item.Descripcion</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnModalGuardar" class="btn btn-default" onclick="GuardarPaciente();">Guardar</button>
                        <button type="button" id="btnModalCerrar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>


    </fieldset>
}

