@model  RicardoPalma.Models.BEAtencionSalaObservacion
@{
    ViewBag.Title = "Atencion de Salas Observación";
    Layout = "~/Views/_Layout.cshtml";
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSalaObservacion" }))
{
    @Html.AntiForgeryToken()
    <script src="@(new Uri(Request.Url, Url.Content("~")))ScriptsClient/ScriptAtencionSalaObservacion.js"></script>

    <fieldset>
        <div class="panel panel panel-primary">
            <div class="panel-heading">Filtros</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table width="100%">
                            <tr>
                                <td>
                                    Fecha Ingreso desde: <input type='text' class="form-control" id='txtFechaInicio' onkeydown="return false;" />
                                </td>
                                <td>
                                    Fecha Ingreso hasta: <input type='text' class="form-control" id='txtFechaFin' onkeydown="return false;" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Paciente: <input type='text' class="form-control" autocomplete="off" placeholder="Pacientes" maxlength="70" onkeypress="return SoloTextoNumero(event);" id='txtPaciente' />
                                    <input type="hidden" id="hdIdPaciente" />
                                    @*Paciente: <select id="lsPaciente" class="form-control">
                                            @foreach (RicardoPalma.Models.Paciente item in @Model.ListadoPacientes)
                                            {
                                                <option value="@item.IdPaciente">@item.Nombre @item.ApellidoPaterno @item.ApellidoMaterno</option>
                                            }
                                        </select>*@
                                </td>
                                <td>
                                    Médico: <select id="lsMedico" class="form-control">
                                        @foreach (RicardoPalma.Models.PersonalEmergencia item in @Model.ListadoMedicos)
                                        {
                                            <option value="@item.IdPersonalEmergencia">@item.Nombres @item.ApellidoPaterno @item.ApellidoMaterno</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Destino: <select id="lsDestino" class="form-control">
                                        @foreach (RicardoPalma.Models.Destino item in @Model.ListadoDestino)
                                        {
                                            <option value="@item.IdDestino">@item.Descripcion</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <button type="button" id="btnBuscar" onclick="BuscarAtencionSalaObservacion();" class="btn btn-primary btn-sm">Buscar atenciones</button>
                                    <button type="button" id="btnSalir" class="btn btn-primary btn-sm">Salir</button>
                                </td>
                            </tr>
                        </table>
                        <br />
                    </div>
                </div>
            </div>
        </div>




        <div class="panel panel panel-primary">
            <div class="panel-heading">Resultado Atenciones Sala Observacion</div>
            <div class="panel-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <table id="tblListado" class="order-column display" style="font-size: 12px" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th>Ingreso</th>
                                    <th>Egreso</th>
                                    <th>Paciente</th>
                                    <th>Médico</th>
                                    <th>Tratamiento</th>
                                    <th>Diagnóstico</th>
                                    <th>Sala</th>
                                    <th>Condición Ingreso</th>
                                    <th>Condición Egreso</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <div id="divModificarAtencionSalaObservacion" class="modal fade" role="dialog">
            <input type="hidden" id="hdIdTicketSalaObservacion_Modificar" />
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Modificar Atencion Emergencia</h4>
                    </div>
                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Médico:
                                </td>
                                <td style="text-align:left">
                                    <select id="lsMedicoModificar" class="form-control">
                                        @foreach (RicardoPalma.Models.PersonalEmergencia item in @Model.ListadoMedicoMantenimiento)
                                        {
                                            <option value="@item.IdPersonalEmergencia">@item.Nombres @item.ApellidoPaterno @item.ApellidoMaterno</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Tratamiento:
                                </td>
                                <td style="text-align:left">
                                    <select id="lsTratamientoModificar" class="form-control">
                                        @foreach (RicardoPalma.Models.Tratamiento item in @Model.ListadoTratamiento)
                                        {
                                            <option value="@item.IdTratamiento">@item.Descripcion</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Diagnóstico:
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control" id='txtDiagnosticoModificar' />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Condición Ingreso:
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control" id='txtCondicionIngresoModificar' />
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Condición Egreso:
                                </td>
                                <td style="text-align:left">
                                    <input type='text' class="form-control" id='txtCondicionEgresoModificar' />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnModalGuardarModificar" class="btn btn-default" onclick="GuardarModificarAtencionSalaObservacion();">Guardar</button>
                        <button type="button" id="btnModalCerrarModificar" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>



        <div id="divSupervisor" class="modal fade" role="dialog">
            <input type="hidden" id="hdIdTicketEmergencia_Supervisor" />
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Validar con Supervisor</h4>
                    </div>
                    <div class="modal-body">
                        <table width="100%">
                            <tr>
                                <td style="text-align:right;width:200px" class="control-label col-sm-2 ">
                                    Clave:
                                </td>
                                <td style="text-align:left">
                                    <input type='password' class="form-control" id='txtClaveSupervisor' />
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnModalVerificarSupervisor" class="btn btn-default" onclick="EliminarAtencionSalaObservacion($('#hdIdTicketEmergencia_Supervisor').val());">Guardar</button>
                        <button type="button" id="btnModalCerrarSupervisor" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>


    </fieldset>
}

